<h2 class="">Use one of your security keys to sign in</h2>

<%= content_tag :div,
  id: "webauthn_credential_form",
  data: { controller: "credential-authenticator",
  "credential-authenticator-options-value": @options } do %>

  <div class="mb-3">
    If it's an USB key be sure to insert it and, if necessary, tap it.
  </div>
<% end %>

