<!DOCTYPE html>
<html>
<head>
  <title>Action Auth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "action_auth/application", media: "all" %>
</head>
<body class="bg-light">
  <div class="container-fluid bg-white border pb-3">
    <%= yield %>
  </div>
</body>
</html>
